<app-header></app-header>

<main class="flex flex-col items-center bg-gradient-to-br from-blue-50 to-white min-h-screen py-16 px-6 mt-8">
  <section class="text-center mb-12 max-w-3xl">
    <h1 class="text-5xl font-extrabold text-blue-800 mb-4">
      Welkom!
    </h1>
    <p class="text-lg text-gray-700 leading-relaxed">
      Deze website geeft je een overzicht van mijn activiteiten, ervaringen en professionele groei. Hier kan je ontdekken aan welke projecten ik heb gewerkt, welke vaardigheden ik heb ontwikkeld, en hoe ik mezelf blijf uitdagen en verbeteren.
    </p>
  </section>

  <section class="bg-white rounded-xl shadow-lg p-8 max-w-4xl w-full text-center border border-gray-100">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Even voorstellen</h2>
    <p class="text-gray-600 text-lg leading-relaxed">
      Hallo! Ik ben Sami Bachiri, student Toegepaste Informatica, gespecialiseerd in
      Applicatieontwikkeling. In mijn vrije tijd werk ik aan programmeerprojecten en
      game ik graag. Ik ben pragmatisch, resultaatgericht en werk efficiënt in teams.
      Mijn sterke punten liggen in backend development,
      terwijl ik mijn frontend- en tijdmanagementvaardigheden verder wil ontwikkelen.
      Mijn ambitie is om full-stack developer te worden en mijn technische
      en strategische kennis te blijven uitbreiden.
    </p>
  </section>
</main>
