<nav class="fixed top-0 left-0 w-full p-6 bg-white shadow-md border-b border-gray-200 z-50">
  <ul class="flex justify-center space-x-8 text-lg font-medium text-gray-700">
    <li>
      <a
        routerLink="/"
        class="hover:text-blue-500 hover:underline transition duration-200"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/activiteiten"
        class="hover:text-blue-500 hover:underline transition duration-200"
      >
        Activiteiten
      </a>
    </li>
    <li>
      <a
        routerLink="/selectie"
        class="hover:text-blue-500 hover:underline transition duration-200"
      >
        Selectie
      </a>
    </li>
    <li>
      <a
        routerLink="/EindReflectie"
        class="hover:text-blue-500 hover:underline transition duration-200"
      >
        EindReflectie
      </a>
    </li>
  </ul>
</nav>
